<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header AnimeHub</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <a href="*" class="header_logo">
            animeHub
        </a>
        <nav class="header_nav">
            <a class="header_nav_link" href="">
                <p class="header_nav_link_txt">О нас</p>
                <div class="header_nav_link_line"></div>
            </a>
            <a class="header_nav_link" href="">
                <p class="header_nav_link_txt">Аниме</p>
                <div class="header_nav_link_line"></div>
            </a>
            <a class="header_nav_link" href="">
                <p class="header_nav_link_txt">Манга</p>
                <div class="header_nav_link_line"></div>
            </a>
            <a class="header_nav_link" href="">
                <p class="header_nav_link_txt">Все категории</p>
                <div class="header_nav_link_line"></div>
            </a>
        </nav>
        <div class="header_log">
            <div class="header_log_block1">
                <a class="header_log_block_link" href=""><img class="header_log_block_link_img" src="images/notifications-svgrepo-com.svg" alt=""></a>
                <a class="header_log_block_link" href=""><img class="header_log_block_link_img" src="images/search-svgrepo-com.svg" alt=""></a>
            </div>
            <div class="header_log_block2">
                <a class="header_log_block2_link" href=""><button class="header_log_block2_link_btn1">Login</button></a>
                <a class="header_log_block2_link" href=""><button class="header_log_block2_link_btn2">Register</button></a>
            </div>
        </div>
    </header>
</body>
</html>